/****************сброс стилей*****************/
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption,
figure, footer, header, menu, nav,
section, summary, time, mark ,audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section, img {
    display: block;
}

nav, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
/*******************общие стили*****************/

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

header {
    height: 974px;
    background-color: #ffffff;
}

.info {
    height: 54px;
    background-color: #1175b7;
    width: 100%;
    text-align: center;
    display: table;
}

.contact {
    display: table-cell;
    vertical-align: middle;
}

.phone, .time, .location {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    margin-right: 64px;
    position: relative;
}

.location:before, .time:before, .phone:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: -20px;
    width: 11px;
    height: 15px;
    background-image: url(../img/location.png);
}

.time:before, .phone:before {
    width: 15px;
    height: 15px;
    background-image: url(../img/Time.png);
    top: 1px;
    left: -20px;
}

.phone:before {
    background-image: url(../img/phone.png);
    top: 1px;
    left: -20px;
}

.fa-air-freshener {
    font-size: 16px;
    width: 10px;
    height: 10px;
}

.social {
    display: inline-block;
    margin-left: 230px;
}

.social a  {
    margin-left: 26px;
    color: #ffffff;
    font-size: 16px;
}

.iactive {
    margin-left: 0;
}

.social > a:hover, .social > .iactive {
    color: #f6a937;
}

.logo {
    width: 162px;
    height: 32px;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.topnav, .topnav li {
    display: inline-block;
}

.topnav li {
    margin-left: 32px;
}

.topnav > li > a {
    color: #1175b7;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.request {
    background-color: #f6a937;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px 24px 20px 21px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    height: 122px;
    width: 100%;
    display: table;
}

.containertop {
    text-align: center;
    height: 32px;
    display: table-cell;
    vertical-align: middle;
    background-color: #ffffff;
}

.topnav, .request, .logo {
    height: 32px;
    display: table-cell;
    vertical-align: middle;
}

.forlogo, .fortopnav, .forrequest {
    margin-left: 57px;
    display: inline-block;
}

.forlogo {
    margin-left: 0;
}

.fortopnav {
    margin-left: 78px;
}

.forrequest {
    line-height: 0;
    margin-left: 80px;
}

.slidercontainer {
    text-align: center;
    height: 798px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.slide1, .slide2, .slide3 {
    width: 100%;
    height: 798px;
}

.slide1 {
    background-image: url(../img/Slide1.jpg);
}

.slide2 {
    background-image: url(../img/slide2.jpg);
}

.slide3 {
    background-image: url(../img/slide3.jpg);
}

.central {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.fade, .fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0s;
    animation-name: fade;
    animation-duration: 0s;
}

.fade2 {
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from{
        opacity: .2;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade {
    from{
        opacity: .2;
    }
    to{
        opacity: 1;
    }
}

.p1, .h1 {
    position: absolute;
    color: #ffffff;
    z-index: 1;
}

.p1 {
    left: 0;
    top: 350px;
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
}

.h1 {
    left: 0;
    top: 400px;
    font-size: 54px;
    font-family: 'Nunito', sans-serif;
}

.today {
    position: absolute;
    bottom: 200px;
    left: 150px;
    display: inline-block;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f6a937;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 22px 40px 20px 40px;
    line-height: 0;
}

.prev, .next {
    width: 200px;
    height: 100%;
    cursor: pointer;
    top: 0;
    position: absolute;
    display: inline-block;
    z-index: 1;
}

.opacity {
    z-index: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(120,145,217,0.5);
}

.prev:hover, .next:hover {
    background-color: rgba(177,195,204,0.2);
}

.prev {
    left: 1px;
}

.next {
    right: 1px;
}

.fordot {
    position: absolute;
    bottom: 70px;
    right: 250px;
}

.dot {
    cursor: pointer;
    border-radius: 50%;
    background-color: #767676;
    height: 8px;
    width: 8px;
    margin: 0 10px 0 0;
    display: inline-block;
}

.active2, .dot:hover {
    background-color: #ffffff;
}

.aboutus {
    width: 1112px;
    height: 748px;
    position: relative;
    margin: 120px auto 120px auto;
}

.imgwindow {
    display: inline-block;
    width: 635px;
    height: 748px;
    background-image: url(../img/shutterstock-1126555652.jpg);
    background-repeat: no-repeat;
}

.abouttext {
    border-left: 30px solid #ffffff;
    border-bottom: 30px solid #ffffff;
    position: absolute;
    right: 0;
    display: inline-block;
    width: 570px;
    height: 570px;
    background-color: #038fd6;
    text-align: left;
    padding: 170px 50px 110px 55px;
}

.aboutphone {
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 30px;
    display: inline-block;
    width: 448px;
    height: 178px;
    background-color: #f6a937;
    padding: 55px 0 0 65px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.phoneimg {
    background-image: url(../img/phone2.png);
    width: 59px;
    height: 59px;
    display: inline-block;
}

.call {
    display: inline-block;
    margin-left: 20px;
}

.p6 {
    color: #ffffff;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
}

.p5 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.p4 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
}

.p3 {
    color: #ffffff;
    font-size: 43px;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

.p2 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.abouttext:before {
    content: "";
    display: block;
    position: absolute;
    top: 150px;
    left: 54px;
    width: 30px;
    height: 3px;
    background-color: #f6a937;
}

.services {
    width: 100%;
    height: 940px;
    background-color: #f9f5f2;
}

.services2 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 135px;
}

.sliderServices {
    margin: 50px auto 0 auto;
    width: 1110px;
    height: 552px;
    position: relative;
}

.sliderServices2 {
    margin: 0 auto;
    width: 1130px;
    height: 562px;
    overflow: hidden;
}

.sliderServices2:after{
    content: "";
    display: block;
    clear: both;
}

.lineslides {
    width: 1460px;
    height: 552px;
    margin: 0 auto;
    background-color: #f9f5f2;
    transition: all ease 1s;
    left: 10px;
    position: relative;
}

.lineslides div {
    float: left;
    width: 350px;
    height: 100%;
    margin-right: 30px;
    background-color: #ffffff;
}

.lineslides .slide12, .lineslides .slide32, .lineslides .slide22 {
    box-shadow: 0 2px 9.9px 0.1px rgba(163, 163, 163, 0.5);
}

.lineslides > .active22, .lineslides > .active22 > div, .lineslides > .active22 > div > div {
    background-color: #038fd6;
    box-shadow: none;
}

.lineslides div:last-child {
    margin-right: 0;
}

.sliderServices2 > a {
    text-align: center;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    position: absolute;
    top: 250px;
    cursor: pointer;
}

.sliderServices2 > a > i {
    font-size: 50px;
    color: #038fd6;
}

.sliderServices2 > a:hover {
    background-color: #038fd6;
}

.sliderServices2 > a:hover i {
    color: #ffffff;
}

#slider2left {
    padding-right: 3px;
    left: -64px;
}

#slider2right {
    padding-left: 3px;
    right: -64px;
}

.p7 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #f6a937;
}

.p8 {
    font-size: 43px;
    font-family: 'Raleway', sans-serif;
    color: #414141;
    margin-top: 20px;
}

.lineslides .imgService1, .lineslides .imgService2, .lineslides .imgService3 {
    width: 350px;
    height: 226px;
}

.imgService1 {
    background-image: url(../img/services1.jpg);
}

.imgService2 {
    background-image: url(../img/services2.jpg);
}

.imgService3 {
    background-image: url(../img/services3.jpg);
}

.lineslides .slide122, .lineslides .slide222, .lineslides .slide322 {
    width: 100%;
    height: 223px;
    text-align: left;
    padding: 20px 40px 50px 50px;
    box-sizing: border-box;
}

.lineslides .vector3 {
    margin: 32px 0 0 50px;
    width: 50px;
    height: 71px;
    background-image: url(../img/vector3.png);
}

.lineslides .vector2 {
    margin: 32px 0 0 50px;
    width: 66px;
    height: 71px;
    background-image: url(../img/vector2.png);
}

.lineslides .vector1 {
    margin: 32px 0 0 50px;
    width: 74px;
    height: 71px;
    background-image: url(../img/vector1.png);
}

.p81 {
    font-family: 'Raleway', sans-serif;
    color: #8d8c8c;
    font-weight: 600;
    font-size: 22px;
}

.p82 {
    margin-top: 30px;
    font-size: 16px;
    color: #8d8c8c;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

.active22 > div .p82, .active22 > div .p81 {
    color: #ffffff;
}

.section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    background-color: #038fd6;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 1120px;
    margin: 0 auto;
    height: 145px;
}

.sections1, .sections2, .sections3, .sections4 {
    border-left: 1px solid #f7eada;
    width: 25%;
    height: 100%;
    font-size: 27px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    text-align: center;
}

.sections1 {
    border-left: none;
}

.sec1 {
    width: 63px;
    height: 61px;
    margin: 0 auto 20px auto;
    background-image: url(../img/free.png);
}

.sec2 {
    width: 61px;
    height: 61px;
    margin: 0 auto 20px auto;
    background-image: url(../img/insured.png);
}

.sec3 {
    width: 62px;
    height: 61px;
    margin: 0 auto 20px auto;
    background-image: url(../img/quality.png);
}

.sec4 {
    margin: 0 auto 20px auto;
    width: 43px;
    height: 61px;
    background-image: url(../img/5years.png);
}

.why {
    width: 1112px;
    height: 630px;
    position: relative;
    margin: 120px auto 120px auto;
    font-size: 0;
}

.imgwomen {
    display: inline-block;
    width: 475px;
    height: 630px;
    background-image: url(../img/women.jpg);
    background-repeat: no-repeat;
}

.whyblock {
    text-align: left;
    display: inline-block;
    width: 633px;
    height: 100%;
    vertical-align: top;
    padding: 60px 0 0 55px;
}

.p9:before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #f6a937;
}

.p11 {
    position: relative;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #038fd6;
}

.p10 {
    margin-top: 30px;
    font-size: 43px;
    font-family: 'Raleway', sans-serif;
    color: #038fd6;
}

.p11 {
    color: #414141;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.p111 {
    margin-top: 50px;
}

.fa-check-square-o {
    color: #f6a937;
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: -30px;
}

.certifield:before {
    content: "";
    position: absolute;
    top: 24px;
    left: 15px;
    width: 46px;
    height: 46px;
    background-image: url(../img/certifield.png);
}

.certifield {
    margin-top: 45px;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 268px;
    height: 102px;
    display: block;
    text-align: left;
    padding: 28px 28px 28px 78px;
    background-color: #f6a937;
    position: relative;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.our {
    width: 1112px;
    height: 740px;
    margin: 0 auto 120px auto;
    text-align: center;
}

.p12 {
    color: #414141;
    font-size: 43px;
    font-family: 'Raleway', sans-serif;
}

.p13 {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #414141;
    position: relative;
}

.p13:after {
    content: "";
    display: block;
    margin: 20px auto 0 auto;
    width: 60px;
    height: 2px;
    background-color: #f6a937;
}

.ourlinks {
    margin: 0 auto 0 auto;
    width: 484px;
    height: 40px;
    font-size: 0;
    margin-top: 60px;
    text-align: center;
}

.ourlinks a {
    color: #414141;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px 13px 5px 13px;
    margin-right: 1px;
}

.ourlinks > .active33 {
    background-color: #f6a937;
    color: #ffffff;
}

.ourblock {
    width: 1112px;
    height: 490px;
    display: inline-grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 230px 230px 230px;
    grid-column-gap: 30px;
    grid-row-gap: 28px;
    float: left;
}

.ourslider {
    margin-top: 30px;
    width: 1112px;
    height: 490px;
    overflow: hidden;
}

.ourline {
    width: 5560px;
    height: 490px;
    left: 0;
    position: relative;
}

.ourblock div {
}

.ourimg1 {
    background-image: url(../img/our1.jpg);
}

.ourimg2 {
    background-image: url(../img/our2.jpg);
}

.ourimg3 {
    background-image: url(../img/our3.jpg);
}

.ourimg4 {
    background-image: url(../img/our4.jpg);
}

.ourimg5 {
    background-image: url(../img/our5.jpg);
}

.ourimg6 {
    background-image: url(../img/our6.jpg);
}

.delivering {
    width: 100%;
    height: 670px;
    background-image: url(../img/delivering.jpg);
}

.delivering2 {
    width: 620px;
    margin: 0 auto;
    text-align: center;
    padding-top: 110px;
}

.delivering3 {
    width: 1112px;
    height: 546px;
    background-color: #038fd6;
    margin: 90px auto 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivering3 > i {
    font-size: 200px;
    color: #ffffff;
    opacity: 0.2;
}

.prev3, .next3 {
    position: absolute;
    cursor: pointer;
    border-radius: 1px;
    color: #f6a937;
}

.prev3:hover, .next3:hover {
    background-color: #cde9f7;
}

.prev3 > i, .next3 > i {
    font-size: 25px;
    display: block;
}

.prev3 {
    padding: 0 10px 0 8px;
}

.next3 {
    padding: 0 8px 0 10px;
}

.prev3 {
    bottom: 10px;
    left: 10px;
}

.next3 {
    bottom: 10px;
    left: 50px;
}

.date, .date2, .date3 {
    position: absolute;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: lighter;
    bottom: -124px;
    right: -204px;
}

.slidercontainer4 {
    text-align: center;
    width: 660px;
    height: 212px;
    position: absolute;
    top: 200px;
}

.slide14p1, .slide24p1, .slide34p1 {
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: 600;
}

.slide14p2, .slide24p2, .slide34p2 {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    text-align: center;
    width: max-content;
    margin: 30px auto 0 auto;
}

.slide14p2:before, .slide24p2:before, .slide34p2:before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    border-top: 2px solid #ffffff;
    top: 7px;
    left: -16px;
}

.fordot4 {
    position: absolute;
    top: 30px;
    width: 280px;
}

.dot4[onclick="plusSlides4(1)"] {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../img/dot6.jpg);
    margin-bottom: 16px;
    cursor: pointer;
    background-size: cover;
}

.dot44, .dot66 {
    box-sizing: unset;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
}

.dot44:hover, .dot66:hover {
    background-color: #f6a937;
    opacity: 0.2;
}

.fordot4 div:nth-child(3) {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 16px;
    cursor: pointer;
    background-size: cover;
    background-image: url(../img/dot5.jpg);
}

.fordot4 div:nth-child(2) {
    display: inline-block;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-image: url(../img/dot4.jpg);
    cursor: pointer;
    background-size: cover;
    /*border: 1px solid #ffffff;*/

}

.p14 {
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin-bottom: 60px;
}

.book {
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #f6a937;
    padding: 20px 50px 20px 50px;
}

.blog {
    height: 700px;
    width: 1112px;
    margin: 380px auto 120px auto;
    text-align: center;
}

.p15 {
    font-family: 'Raleway', sans-serif;
    font-size: 43px;
    color: #414141;
}

.p16 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #414141;
    margin-top: 30px;
}

.p16:after {
    content: "";
    display: block;
    margin: 20px auto 65px auto;
    width: 60px;
    height: 2px;
    background-color: #f6a937;
}

.mainblog, .notmainblog {
    text-align: left;
    display: inline-block;
}

.mainblog {
    vertical-align: top;
    width: 570px;
    margin: 0 62px 0 0;
}

.notmainblog {
    width: 476px;
}

.drum {
    line-height: 0;
}

.notmain {
    line-height: 1;
    display: inline-block;
    width: 240px;
    vertical-align: top;
}

.line {
    width: 476px;
    height: 1px;
    background-color: #dddddd;
    margin: 41px 0 41px 0;
}

.minigirl {
    width: 570px;
    height: 347px;
    background-image: url(../img/minigirl.jpg);
    margin-bottom: 26px;
    position: relative;
}

.minigirl p, .arms p, .earth p {
    top: 10px;
    padding: 7px 7px 7px 7px;
    position: absolute;
    display: block;
    background-color: #f6a937;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.arms {
    display: inline-block;
    width: 211px;
    height: 199px;
    background-image: url(../img/arms.jpg);
    margin-right: 21px;
    position: relative;
    line-height: 1;
}

.earth {
    display: inline-block;
    width: 211px;
    height: 199px;
    background-image: url(../img/earth.jpg);
    margin-right: 21px;
    position: relative;
}

.admin {
    margin-top: 20px;
}

.admin i {
    font-size: 13px;
    color: #f0a850;
}

.p17 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #414141;
    font-weight: 700;
}

.p18 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #414141;
    display: inline-block;
    margin: 0 20px 0 5px;
    font-weight: 400;
}

.p19 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #414141;
    margin: 20px 0 20px 0;
    font-weight: 400;
}

.more {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #414141;
    font-weight: 700;
}

.form {
    width: 1112px;
    height: 748px;
    position: relative;
    margin: 120px auto 120px auto;
}

.imggirl {
    display: inline-block;
    width: 635px;
    height: 748px;
    background-image: url(../img/girl.jpg);
    background-repeat: no-repeat;
}

.formtext {
    border-left: 30px solid #ffffff;
    border-bottom: 30px solid #ffffff;
    position: absolute;
    right: 0;
    display: inline-block;
    width: 570px;
    height: 570px;
    background-color: #fce5c3;
    text-align: left;
    padding: 60px 50px 110px 55px;
}

.p21 {
    color: #414141;
    font-size: 43px;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

.p20 {
    color: #414141;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.formtext:before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 54px;
    width: 30px;
    height: 3px;
    background-color: #f6a937;
}

.input1, .input2, .input3 {
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #414141;
    border: 1px solid transparent;
    border-radius: 3px;
    display: block;
    width: 412px;
    padding: 0 30px;
    height: 58px;
}

.input1 {
    margin-top: 50px;
}

.submit {
    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 25px;
    background-color: #f6a937;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 35px 15px 35px;
    cursor: pointer;
}

footer {
    background-color: #1175b7;
    width: 100%;
    height: 683px;
}

.topfooter {
    margin: 0 auto;
    width: 100%;
    height: 98px;
    border-bottom: 1px solid #ccc6e4;
}

.topfooter2 {
    margin: 0 auto;
    width: 1112px;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.left {
    width: 369px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.mid {
    width: 370px;
    border-left: 1px solid #ccc6e4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 373px;
    border-left: 1px solid #ccc6e4;
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer2 {
    margin: 0 auto;
    width: 100%;
    height: 584px;
    background-image: url(../img/footer.jpg);
    background-position: -169px -118px;
}

.phone2, .time2, .location2 {
    position: relative;
}

.location2:before, .time2:before, .phone2:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: -25px;
    width: 11px;
    height: 15px;
    background-image: url(../img/location.png);
}

.time2:before, .phone2:before {
    width: 15px;
    height: 15px;
    background-image: url(../img/Time.png);
    top: 1px;
    left: -25px;
}

.phone2:before {
    background-image: url(../img/phone.png);
    top: 1px;
    left: -25px;
}

.footer22 {
    width: 1112px;
    height: 481px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc6e4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.moura, .quick, .news {
    height: 260px;
    text-align: left;
    position: relative;
}

.p22:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #f6a937;
    margin: 20px 0 20px 0;
}

.moura {
    width: 374px;
    padding-right: 80px;
}

.social2 {
    width: 206px;
    height: 36px;
    margin-top: 40px;
}

.social2 a {
    margin-right: 22px;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #414141;
    background-color: #ffffff;
    padding: 5px 0 5px 0;
}

.social2 > .active22 {
    padding-right: 6px;
    padding-left: 8px;
}

.social2 > .facebook {
    padding-right: 10px;
    padding-left: 10px;
}

.social2 > .youtube {
     padding-right: 6px;
     padding-left: 7px;
 }

.social2 > .google {
      padding-right: 5px;
      padding-left: 5px;
  }

.social2 > a:hover, .social2 .active22 {
    color: #ffffff;
    background-color: #f2a93d;
}

.quick {
    width: 418px;
}

.links1, .links2 {
    display: inline-block;
}

.links1 li, .links2 li {
    margin-bottom: 20px;
}

.links2 {
    margin-left: 118px;
}

.news {
    width: 320px;
}

.p22 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.p23, .links1 li a, .links2 li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.p23 {
    line-height: 24px;
}

.form2 {
    font-size: 0;
    margin-top: 50px;
}

.email2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    border: 1px solid #f2a93d;
    vertical-align: top;
    padding: 10px 20px 10px 20px;
    width: 270px;
}

.submit2 {
    display: inline-block;
    text-align: center;
    padding: 0 14px 10px 13px;
    background-color: #f2a93d;
    color: #ffffff;
    font-size: 31px;
    margin-left: 0;
}

.footer23 {
    width: 1112px;
    margin: 0 auto;
    height: 103px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forlogo2 {
    display: inline-block;
}

.logo2 {
    width: 162px;
    height: 32px;
    background-image: url(../img/logo2.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.copyright {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 120px;
}

.btnupdiv {
    width: 35px;
    height: 37px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: #f2a93d;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding-top: 4px;
    opacity: 0;
    display: none;
}

#up {
    font-size: 22px;
}