/****************сброс стилей*****************/
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption,
figure, footer, header, menu, nav,
section, summary, time, mark ,audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section, img {
    display: block;
}

nav, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

img {
    max-width: 100%;
}
/*******************общие стили*****************/

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #ffffff;
}

header {
    min-height: 974px;
    background-color: #ffffff;
    overflow: hidden;
}

.info {
    min-height: 54px;
    background-color: #1175b7;
    max-width: 100%;
    text-align: left;
    display: flex;
    padding: 0 0 0 0;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
}

.phone, .time, .location {
    display: inline-block;
    font-size: 1.8rem;
    color: #ffffff;
    position: relative;
    border-bottom: 4px solid transparent;
    font-weight: 400;
    top: -7px;
    vertical-align: top;
}

.location {
    top: 0;
    display: flex;
    width: 26%;
    justify-content: flex-end;
    padding: 0 0 0 0;
    margin: 0 0 0 5px;
}

.contact > .phone {
    top: 1px;
    letter-spacing: -0.3px;
    display: flex;
    width: 16%;
    justify-content: flex-end;
    padding: 0 3px 0 0;
    margin: 0 0 0 0;
}

.phone span {
    position: relative;
    top: 1px;
}

.time {
    top: 1px;
    letter-spacing: 0.1px;
    display: flex;
    width: 23%;
    justify-content: flex-end;
    padding: 0 0 0 0;
    margin: 0 0 0 5px;
    position: relative;
}

.contact > .location > span {
    display: inline-block;
    font-size: 1.8rem;
    color: #ffffff;
    margin-right: 11px;
    position: relative;
    font-weight: 400;
    top: 1px;
    left: 9px;
}

.contact > .location:before, .time:before, .phone:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 11px;
    min-height: 15px;
    background-image: url(../img/location.png);
    background-repeat: no-repeat;
}

.contact > .phone:before {
    background-image: url(../img/phone.png);
    top: 2px;
    left: 40px;
}

.time:before, .phone:before {
    width: 15px;
    min-height: 15px;
    background-image: url(../img/Time.png);
    top: 4px;
    left: 0;
}

.contact > .time:before {
    top: 1px;
    left: 33px;
}

.fa-air-freshener {
    font-size: 1.6rem;
    max-width: 10px;
    min-height: 10px;
}

.social {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    padding: 0 0 0 0;
    margin: 0 0 0 2px;
}

.social a  {
    margin-left: 26px;
    color: #ffffff;
    font-size: 1.6rem;
}

.iactive {
    margin-left: 0;
}

.social > a:hover, .social > .iactive {
    color: #f6a937;
}

.logo {
    width: 162px;
    min-height: 32px;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.topnav, .topnav li {
    display: inline-block;
}

.topnav li {
    margin-left: 32px;
}

.topnav > li > a {
    color: #1175b7;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.topnav li:nth-child(2) {
    margin: 0 1px 0 32px;
}

.topnav li:nth-child(3) {
    margin: 0 1px 0 32px;
}

.topnav li:nth-child(4) {
    margin: 0 1px 0 32px;
}

.topnav li:nth-child(5) {
    margin: 0 1px 0 32px;
}

.request {
    background-color: #f6a937;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 25px 23px 25px 21px;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.2px;
    display: inline-block;
}

nav {
    min-height: 120px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.containertop {
    text-align: left;
    min-height: 32px;
    background-color: #ffffff;
    display: flex;
}

.request {
    min-height: 52px;
    width: 188px;
}

.logo, .topnav {
    height: 42px;
}

.topnav {
    height: 52px;
}

.forlogo, .fortopnav {
    display: inline-block;
}

.forlogo {
    align-self: center;
    margin: 11px 0 0 78px;
}

.fortopnav {
    margin: 30px 93px 0 81px;
}

.forrequest {
    display: inline-block;
    line-height: 0;
    margin: 15px 0 0 0;
}

.slidercontainer {
    text-align: center;
    min-height: 800px;
    max-width: 100%;
    position: relative;
    z-index: 0;
}

.slide1, .slide2, .slide3 {
    max-width: 1600px;
    min-height: 800px;
}

.slidercontainer img {
    max-width: 1600px;
    position: relative;
    left: -168px;
    display: inline-block;
}


.slide1 {
    /*background-image: url(../img/Slide1.jpg);
    background-position: -168px 0;*/
}

.slide2 {
    /*background-image: url(../img/slide2.jpg);
    background-position: -168px 0;*/
}

.slide3 {
    /*background-image: url(../img/slide3.jpg);
    background-position: -168px 0;*/
}

.central {
    max-width: 784px;
    position: relative;
    margin: 0 auto;
}

.fade, .fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

.fade2 {
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from{
        opacity: .2;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade {
    from{
        opacity: .2;
    }
    to{
        opacity: 1;
    }
}

.p1, .h1, .h11 {
    color: #ffffff;
    position: absolute;
    z-index: 1;
}

.p1 {
    top: 257px;
    left: 215px;
    font-size: 2.7rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2px;
    display: inline-block;
}

.h1 {
    top: 303px;
    left: 62px;
    font-size: 6.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    letter-spacing: 0.3px;
}

.h11 {
    top: 373px;
    left: -18px;
    font-size: 6.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.today {
    position: absolute;
    bottom: 278px;
    left: 307px;
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f6a937;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 24px 39px 22px 36px;
    line-height: 5px;
}

.prev, .next {
    width: 200px;
    min-height: 100%;
    cursor: pointer;
    top: 0;
    position: absolute;
    display: inline-block;
    z-index: 1;
}

.opacity {
    z-index: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    min-height: 800px;
    background-color: rgba(120,145,217,0.5);
}

.prev:hover, .next:hover {
    background-color: rgba(177,195,204,0.2);
}

.prev {
    left: 1px;
}

.next {
    right: 1px;
}

.fordot {
    position: absolute;
    bottom: 65px;
    right: 365px;
}

.dot {
    cursor: pointer;
    border-radius: 50%;
    background-color: #767676;
    min-height: 7px;
    width: 7px;
    margin: 0 7px 0 0;
    display: inline-block;
}

.active2, .dot:hover {
    background-color: #ffffff;
}

.aboutus {
    max-width: 1110px;
    min-height: 748px;
    position: relative;
    margin: 118px auto 120px auto;
}

.imgwindow {
    display: inline-block;
    max-width: 635px;
    min-height: 748px;
    /*background-image: url(../img/shutterstock-1126555652.jpg);
    background-repeat: no-repeat;*/
}

.abouttext {
    border-left: 30px solid #ffffff;
    border-bottom: 30px solid #ffffff;
    position: absolute;
    right: 0;
    display: inline-block;
    max-width: 570px;
    min-height: 570px;
    background-color: #038fd6;
    text-align: left;
    padding: 169px 50px 103px 65px;
}

.aboutphone {
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    bottom: 2px;
    right: 0;
    margin-left: 30px;
    display: inline-block;
    width: 445px;
    min-height: 178px;
    background-color: #f6a937;
    padding: 50px 0 0 64px;
    border: 1px solid transparent;
    border-radius: 3px;
    vertical-align: top;
}

.phoneimg {
    /*background-image: url(../img/phone2.png);*/
    max-width: 59px;
    min-height: 59px;
    display: inline-block;
    margin: 9px 0 0 0;
}

.call {
    vertical-align: top;
    display: inline-block;
    margin: 1px 0 0 22px;
    border-bottom: 1px solid transparent;
}

.p6 {
    color: #ffffff;
    font-size: 3.6rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 11px 0 0 0;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.p5 {
    margin: 6px 0 0 3px;
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
}

.p4 {
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 28px;
    line-height: 26px;
}

.p3 {
    color: #ffffff;
    font-size: 4.5rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 12px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: -1.1px;
}

.p2 {
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2px;
    margin: 0 0 0 0;
}

.p3:before {
    content: "";
    display: block;
    position: absolute;
    top: 145px;
    left: 65px;
    width: 30px;
    min-height: 3px;
    background-color: #f6a937;
}

.services {
    max-width: 100%;
    min-height: 936px;
    background-color: #f9f5f2;
    overflow: hidden;
}

.services2 {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 138px;
}

.sliderServices {
    margin: 54px auto 0 auto;
    max-width: 1130px;
    min-height: 552px;
    position: relative;
}

.sliderServices2 {
    margin: 0 auto;
    max-width: 1130px;
    min-height: 562px;
    overflow: hidden;
}

.sliderServices2:after{
    content: "";
    display: block;
    clear: both;
}

.lineslides {
    max-width: 1460px;
    min-height: 552px;
    margin: 0 auto;
    background-color: #f9f5f2;
    transition: all ease 1s;
    left: 10px;
    position: relative;
}

.lineslides div {
    float: left;
    max-width: 350px;
    min-height: 549px;
    margin-right: 30px;
    background-color: #ffffff;
}

.lineslides .slide12, .lineslides .slide32, .lineslides .slide22 {
    box-shadow: 0 2px 9.9px 0.1px rgba(163, 163, 163, 0.1);
}

.lineslides > .active22, .lineslides > .active22 > div, .lineslides > .active22 > div > div {
    background-color: #038fd6;
    box-shadow: none;
}

.lineslides div:last-child {
    margin-right: 0;
}

.sliderServices2 > a {
    text-align: center;
    border-radius: 50%;
    width: 54px;
    min-height: 54px;
    position: absolute;
    top: 247px;
    cursor: pointer;
}

.sliderServices2 > a > i {
    font-size: 3.7rem;
    color: #038fd6;
}

.sliderServices2 > a:hover {
    background-color: #038fd6;
}

.sliderServices2 > a:hover i {
    color: #ffffff;
}

#slider2left {
    padding: 7px 0 0 1px;
    left: -89px;
}

#slider2right {
    padding: 7px 0 0 1px;
    right: -89px;
}

.p7 {
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    color: #f6a937;
    font-weight: 600;
}

.p8 {
    font-size: 4.3rem;
    font-family: 'Raleway', sans-serif;
    color: #414141;
    margin-top: 15px;
    font-weight: 600;
}

.lineslides .imgService1, .lineslides .imgService2, .lineslides .imgService3 {
    max-width: 350px;
    min-height: 226px;
}

.imgService1 {
    /*background-image: url(../img/services1.jpg);*/
}

.imgService2 {
    /*background-image: url(../img/services2.jpg);*/
}

.imgService3 {
    /*background-image: url(../img/services3.jpg);*/
}

.lineslides .slide122, .lineslides .slide222, .lineslides .slide322 {
    max-width: 100%;
    min-height: 218px;
    text-align: left;
    padding: 22px 26px 47px 49px;
    box-sizing: border-box;
}

.lineslides .vector3 {
    margin: 34px 0 0 50px;
    max-width: 50px;
    min-height: 71px;
    /*background-image: url(../img/vector3.png);*/
}

.lineslides img {
    max-width: 110%;
}

.lineslides .vector2 {
    margin: 34px 0 0 51px;
    max-width: 66px;
    min-height: 71px;
    /*background-image: url(../img/vector2.png);*/
}

.lineslides .vector1 {
    margin: 34px 0 0 50px;
    max-width: 74px;
    min-height: 71px;
    /*background-image: url(../img/vector1.png);*/
}

.p81 {
    font-family: 'Raleway', sans-serif;
    color: #8d8c8c;
    font-weight: 600;
    font-size: 2.2rem;
    letter-spacing: 0.1px;
}

.p82 {
    margin-top: 31px;
    font-size: 1.6rem;
    color: #8d8c8c;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 24px;
}

.active22 > div .p82, .active22 > div .p81 {
    color: #ffffff;
}

.section {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 350px;
    background-color: #038fd6;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 1200px;
    margin: 7px 0 0 83px;
    min-height: 145px;
}

.sections1, .sections2, .sections3, .sections4 {
    border-left: 1px solid #f7eada;
    min-height: 100%;
    font-size: 2.7rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.sections1 {
    margin: 0 -2px 0 0;
    width: 25%;
    border-left: none;
    padding: 0 0 0 3px;
}

.sections2 {
    margin: 0 0 0 5px;
    width: 25%;
    padding: 0 0 0 2px;
}

.sections3 {
    margin: 0 0 0 4px;
    width: 25%;
    padding: 0 0 0 4px;
}

.sections4 {
    margin: 0 0 0 4px;
    width: 24%;
    letter-spacing: 0.5px;
    padding: 0 0 0 14px;
}

.sec1 {
    max-width: 63px;
    min-height: 61px;
    margin: 0 auto 28px auto;
    /*background-image: url(../img/free.png);*/
}

.sec2 {
    max-width: 61px;
    min-height: 61px;
    margin: 0 auto 30px auto;
    /*background-image: url(../img/insured.png);*/
}

.sec3 {
    max-width: 62px;
    min-height: 61px;
    margin: 0 auto 30px auto;
    /*background-image: url(../img/quality.png);*/
}

.sec4 {
    margin: 0 auto 28px auto;
    max-width: 43px;
    min-height: 61px;
    /*background-image: url(../img/5years.png);*/
}

.why {
    max-width: 1121px;
    min-height: 630px;
    position: relative;
    margin: 121px 0 115px 77px;
    font-size: 0;
}

.imgwomen {
    display: inline-block;
    max-width: 475px;
    min-height: 630px;
    /*background-image: url(../img/women.jpg);*/
    background-repeat: no-repeat;
}

.whyblock {
    text-align: left;
    display: inline-block;
    max-width: 644px;
    min-height: 100%;
    vertical-align: top;
    padding: 60px 0 0 65px;
}

.p9 {
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    color: #038fd6;
    font-weight: 600;
    position: relative;
    letter-spacing: -0.1px;
}

.p9:before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    width: 30px;
    min-height: 3px;
    background-color: #f6a937;
}

.p11 {
    position: relative;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    color: #038fd6;
}

.p10 {
    margin-top: 9px;
    font-size: 4.3rem;
    font-family: 'Raleway', sans-serif;
    color: #038fd6;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: -0.1px;
}

.p11 {
    color: #414141;
    font-size: 2rem;
    margin-top: 20px;
    position: relative;
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 22px;
}

.p111 {
    margin-top: 50px;
}

.fa-check-square-o {
    color: #f6a937;
    font-size: 1.6rem;
    position: absolute;
    top: 2px;
    left: -30px;
}

.certifield:before {
    content: "";
    position: absolute;
    top: 27px;
    left: 14px;
    width: 46px;
    min-height: 46px;
    background-image: url(../img/certifield.png);
}

.certifield {
    margin-top: 49px;
    border: 1px solid transparent;
    border-radius: 3px;
    max-width: 270px;
    min-height: 102px;
    display: block;
    text-align: left;
    padding: 24px 20px 28px 79px;
    background-color: #f6a937;
    position: relative;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.our {
    max-width: 1112px;
    min-height: 740px;
    margin: 0 auto -140px auto;
    text-align: center;
}

.p12 {
    color: #414141;
    font-size: 4.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.p13 {
    margin-top: 28px;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #414141;
    position: relative;
    line-height: 24px;
}

.p13:after {
    content: "";
    display: block;
    margin: 11px auto 0 auto;
    max-width: 60px;
    min-height: 2px;
    background-color: #f6a937;
}

.ourlinks {
    margin: 46px auto 0 auto;
    max-width: 490px;
    min-height: 40px;
    font-size: 0;
    text-align: left;
}

.ourlinks a {
    color: #414141;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-right: 1px;
}

.ourlinks a:nth-child(1) {
    margin-left: 12px;
    padding: 11px 11px 9px 12px;
}

.ourlinks a:nth-child(2) {
    padding: 11px 9px 9px 14px;
}

.ourlinks a:nth-child(3) {
    padding: 11px 13px 9px 17px;
}

.ourlinks a:nth-child(4) {
    padding: 11px 9px 9px 13px;
}

.ourlinks a:nth-child(5) {
    padding: 11px 9px 9px 17px;
}

.ourlinks > .active33 {
    background-color: #f6a937;
    color: #ffffff;
}

.ourblock {
    max-width: 1112px;
    min-height: 490px;
    display: inline-grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 230px 230px 230px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    float: left;
}

.ourslider {
    margin-top: 25px;
    max-width: 1112px;
    min-height: 490px;
    overflow: hidden;
}

.ourline {
    width: 5560px;
    min-height: 490px;
    left: 0;
    position: relative;
    overflow: hidden;
}

.ourblock div {
}

.ourimg1 {
    /*background-image: url(../img/our1.jpg);*/
}

.ourimg2 {
    /*background-image: url(../img/our2.jpg);*/
}

.ourimg3 {
    /*background-image: url(../img/our3.jpg);*/
}

.ourimg4 {
    /*background-image: url(../img/our4.jpg);*/
}

.ourimg5 {
    /*background-image: url(../img/our5.jpg);*/
}

.ourimg6 {
    /*background-image: url(../img/our6.jpg);*/
}

.delivering {
    max-width: 100%;
    max-height: 670px;
    background-image: url(../img/delivering.jpg);
    background-position: -168px 0;
}

.delivering2 {
    max-width: 620px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 106px 0 0 0;
}

.delivering3 {
    max-width: 1110px;
    min-height: 545px;
    background-color: #038fd6;
    margin: 83px auto 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivering3 > i {
    margin: 110px 0 0 0;
    font-size: 19.8rem;
    color: #ffffff;
    opacity: 0.1;
}

.prev3, .next3 {
    position: absolute;
    cursor: pointer;
    border-radius: 1px;
    color: #f6a937;
}

.prev3:hover, .next3:hover {
    background-color: rgba(199,199,199,0.5);
}

.prev3 > i, .next3 > i {
    font-size: 2rem;
    display: block;
}

.prev3 {
    padding: 3px 9px 2px 9px;
}

.next3 {
    padding: 3px 9px 2px 9px;
}

.prev3 {
    bottom: 20px;
    left: 21px;
}

.next3 {
    bottom: 20px;
    left: 66px;
}

.date, .date2, .date3 {
    position: absolute;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: 400;
    bottom: -68px;
    right: -168px;
    letter-spacing: -0.1px;
}

.slidercontainer4 {
    text-align: center;
    max-width: 737px;
    min-height: 212px;
    position: absolute;
    top: 249px;
}

.slide14p1, .slide24p1, .slide34p1 {
    font-size: 3.5rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    line-height: 48px;
}

.slide14p2, .slide24p2, .slide34p2 {
    font-size: 2.2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    text-align: center;
    max-width: max-content;
    margin: 44px auto 0 auto;
    padding: 0 0 0 14px;
}

.slide14p2:before, .slide24p2:before, .slide34p2:before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    border-top: 2px solid #ffffff;
    top: 6px;
    left: -3px;
}

.fordot4 {
    position: absolute;
    top: 98px;
    max-width: 280px;
}

.dot4[onclick="plusSlides4(1)"] {
    display: inline-block;
    width: 60px;
    min-height: 60px;
    border-radius: 50%;
    background-image: url(../img/dot5.jpg);
    margin: 0 0 17px 0;
    cursor: pointer;
    background-size: cover;
}

.dot44, .dot66 {
    box-sizing: unset;
    max-width: 100%;
    min-height: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
}

.dot44:hover, .dot66:hover {
    background-color: #f6a937;
    opacity: 0.2;
}

.fordot4 div:nth-child(3) {
    display: inline-block;
    width: 60px;
    min-height: 60px;
    border-radius: 50%;
    margin-bottom: 17px;
    cursor: pointer;
    background-size: cover;
    background-image: url(../img/dot6.jpg);
}

.fordot4 div:nth-child(2) {
    display: inline-block;
    width: 95px;
    min-height: 95px;
    border-radius: 50%;
    background-image: url(../img/dot4.jpg);
    cursor: pointer;
    background-size: cover;
    margin: 0 24px 0 23px;
    /*border: 1px solid #ffffff;*/

}

.p14 {
    font-size: 4.5rem;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin-bottom: 70px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.8px;
}

.book {
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #f6a937;
    padding: 25px 60px 22px 60px;
}

.blog {
    min-height: 700px;
    max-width: 1140px;
    margin: 386px 0 119px 69px;
    text-align: left;
    font-size: 0;
}

.blog1 {
    margin: 0 16px 0 0;
    text-align: center;
}

.p15 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.3rem;
    color: #414141;
    font-weight: 600;
}

.p16 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    color: #414141;
    margin-top: 29px;
    line-height: 24px;
}

.p16:after {
    content: "";
    display: block;
    margin: 11px auto 65px auto;
    max-width: 59px;
    min-height: 2px;
    background-color: #f6a937;
}

.mainblog, .notmainblog {
    text-align: left;
    display: inline-block;
}

.mainblog {
    vertical-align: top;
    max-width: 570px;
    margin: 0 66px 0 7px;
}

.notmainblog {
    max-width: 490px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.drum {
    line-height: 0;
}

.notmain {
    line-height: 16px;
    display: inline-block;
    max-width: 244px;
    vertical-align: top;
}

.notmain .p17 {
    letter-spacing: 0.2px;
}

.notmain .admin {
    margin: 25px 0 0 4px;
}

.notmain .p19 {
    margin: 14px 0 21px 1px;
    line-height: 22px;
    letter-spacing: -0.2px;
    max-width: 243px;
}

.line {
    max-width: 476px;
    min-height: 1px;
    background-color: #dddddd;
    margin: 35px 0 42px 0;
}

.minigirl {
    max-width: 571px;
    min-height: 347px;
    /*background-image: url(../img/minigirl.jpg);*/
    margin-bottom: 27px;
    position: relative;
}

.minigirl p, .arms p, .earth p {
    top: 10px;
    padding: 8px 9px 6px 8px;
    position: absolute;
    display: block;
    background-color: #f6a937;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.arms {
    display: inline-block;
    max-width: 211px;
    min-height: 199px;
    /*background-image: url(../img/arms.jpg);*/
    margin-right: 29px;
    position: relative;
    line-height: 1;
}

.arms p {
    padding: 7px 10px 7px 9px;
}

.earth {
    display: inline-block;
    max-width: 211px;
    min-height: 199px;
    /*background-image: url(../img/earth.jpg);*/
    margin-right: 29px;
    position: relative;
}

.earth p {
    padding: 7px 9px 7px 9px;
}

.admin {
    margin: 23px 0 0 4px;
}

.admin i {
    font-size: 1.3rem;
    color: #f0a850;
    position: relative;
    top: -1px;
    left: -3px;
}

.p17 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: #414141;
    font-weight: 700;
    vertical-align: top;
}

.p18 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    color: #414141;
    display: inline-block;
    margin: 0 32px 0 6px;
    font-weight: 400;
}

.p19 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #414141;
    margin: 17px 0 19px 1px;
    font-weight: 400;
    line-height: 24px;
}

.shore .p19 {
    max-width: 560px;
}

.more {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: #414141;
    font-weight: 700;
    margin: 0 0 0 1px;
}

.form {
    max-width: 1111px;
    min-height: 748px;
    position: relative;
    margin: -2px auto 119px auto;
}

.imggirl {
    display: inline-block;
    max-width: 635px;
    min-height: 748px;
    background-image: url(../img/girl.jpg);
    background-repeat: no-repeat;
    margin: 0 0 0 1px;
}

.formtext {
    border-left: 30px solid #ffffff;
    border-bottom: 30px solid #ffffff;
    position: absolute;
    right: 0;
    display: inline-block;
    max-width: 570px;
    min-height: 570px;
    background-color: #fce5c3;
    text-align: left;
    padding: 82px 63px 50px 65px;
}

.p21 {
    color: #414141;
    font-size: 4.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 9px 0 0 -1px;
}

.p20 {
    color: #414141;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0 0 0 -1px;
}

.formtext:before {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 65px;
    width: 30px;
    min-height: 3px;
    background-color: #f6a937;
}

.input1, .input2, .input3 {
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #414141;
    border: 1px solid transparent;
    border-radius: 3px;
    display: block;
    width: 412px;
    padding: 4px 29px 0 29px;
    min-height: 58px;
}

.input1 {
    margin-top: 50px;
}

.input2 {
    padding: 4px 28px 0 28px;
}

.input3 {
    padding: 2px 28px 0 28px;
}

.submit {
    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 25px;
    background-color: #f6a937;
    color: #ffffff;
    font-size: 1.8rem;
    padding: 19px 36px 15px 35px;
    cursor: pointer;
    letter-spacing: 0.2px;
}

footer {
    background-color: #1175b7;
    max-width: 100%;
    min-height: 701px;
}

.topfooter {
    display: flex;
    max-width: 100%;
    min-height: 120px;
    border-bottom: 1px solid #ccc6e4;
}

.topfooter2 {
    width: 1112px;
    min-height: 100%;
    display: flex;
    color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

.left {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 0 0 -3px;
    padding: 0 0 0 3px;
}

.mid {
    width: 33%;
    border-left: 1px solid #ccc6e4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 11px;
    margin: 0 10px 0 2px;
}

.right {
    width: 34%;
    border-left: 1px solid #ccc6e4;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.footer2 {
    margin: 0 auto;
    max-width: 100%;
    min-height: 582px;
    background-image: url(../img/footer.jpg);
    background-position: -168px -118px;
}

.phone2, .time2, .location2 {
    position: relative;
}

.location2 {
    margin: 0 0 0 25px;
}

.phone2 {
    margin: 0 0 0 25px;
}

.time2 {
    margin: 0 0 2px 25px;
}

.location2:before, .time2:before, .phone2:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: -23px;
    width: 11px;
    min-height: 15px;
    background-image: url(../img/location.png);
}

.time2:before, .phone2:before {
    width: 15px;
    min-height: 15px;
    background-image: url(../img/Time.png);
    top: 2px;
    left: -24px;
}

.phone2:before {
    background-image: url(../img/phone.png);
    top: 1px;
    left: -23px;
}

.footer22 {
    width: 1112px;
    min-height: 480px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc6e4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 0 0 0;
}

.moura, .quick, .news {
    min-height: 260px;
    text-align: left;
    float: left;
}

.p22:after {
    content: "";
    display: block;
    max-width: 30px;
    min-height: 3px;
    background-color: #f6a937;
    margin: 15px 0 20px -1px;
}

.moura {
    width: 34%;
    padding-right: 80px;
}

.social2 {
    max-width: 206px;
    min-height: 36px;
    margin: 43px 0 0 1px;
}

.social2 a {
    margin-right: 18px;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #414141;
    background-color: #ffffff;
    padding: 13px 0 9px 0;
}

.social2 a:nth-child(2) {
    margin-right: 19px;
}

.social2 a:nth-child(3) {
    margin-right: 19px;
}

.social2 a:nth-child(1) i {
    font-size: 1.5rem;
}

.social2 a:nth-child(2) i {
    font-size: 2rem;
}

.social2 a:nth-child(3) i {
    margin: 0 0 0 0;
    font-size: 1.7rem;
}

.social2 a:nth-child(4) i {
    font-size: 1.7rem;
}

.social2 > .active22 {
    padding-right: 10px;
    padding-left: 10px;
}

.social2 > .facebook {
    padding-right: 12px;
    padding-left: 11px;
    margin: 0 0 0 0;
}

.social2 > .youtube {
     padding-right: 9px;
     padding-left: 7px;
 }

.social2 > .google {
      padding-right: 6px;
      padding-left: 5px;
  }

.social2 > a:hover, .social2 .active22 {
    color: #ffffff;
    background-color: #f2a93d;
}

.quick {
    width: 38%;
    margin: 16px 0 0 -1px;
    padding: 0 0 0 4px;
}

.links1, .links2 {
    display: inline-block;
}

.linksblock {
    padding: 9px 0 0 0;
}

.links1 {
    line-height: 19px;
}

.links1 li, .links2 li {
    margin-bottom: 20px;
}

.links2 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 19px;
    margin-left: 129px;
}

.news {
    width: 30%;
    padding: 0 0 0 2px;
    margin: 0 0 0 0;
}

.news .p22 {
    margin: 11px 0 25px 1px;
}

.news .p22:after {
    margin: 15px 0 20px 3px;
}

.p22 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color: #ffffff;
    margin: 10px 0 26px 2px;
    padding: 0 0 0 0;
}

.quick .p22 {
    margin: 13px 0 0 -1px;
}

.quick .p22:after {
    margin: 14px 0 20px 2px;
}

.p23, .links1 li a, .links2 li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.p23 {
    line-height: 26px;
    margin: 0 0 0 0;
}

.news .p23 {
    margin: 0 0 0 3px;
}

.form2 {
    font-size: 0;
    margin: 50px 0 0 4px;
}

.email2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #414141;
    border: 1px solid #f2a93d;
    vertical-align: top;
    padding: 15px 18px 12px 18px;
    width: 271px;
}

.submit2 i {
    display: inline-block;
    text-align: center;
    padding: 15px 15px 14px 15px;
    background-color: #f2a93d;
    color: #ffffff;
    font-size: 1.9rem;
}

.footer23 {
    max-width: 1112px;
    margin: 0 auto;
    min-height: 98px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forlogo2 {
    display: inline-block;
    margin: 6px 0 0 1px;
}

.logo2 {
    width: 162px;
    min-height: 32px;
    background-image: url(../img/logo2.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.copyright {
    color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0 118px;
    letter-spacing: -0.01px;
}

.btnupdiv {
    width: 35px;
    min-height: 37px;
    position: fixed;
    bottom: 32px;
    right: 31px;
    background-color: #f2a93d;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 2.0rem;
    padding-top: 5px;
    opacity: 0;
    display: none;
}

#up {
    font-size: 1.8rem;
}

/*******************общие стили*****************/

@media screen and (min-width: 480px) and (max-width: 800px){
    html {
        font-size: 8px;
    }


}

@media screen and (max-width: 479px){
    html {
        font-size: 6px;
    }
}