<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <title>CliningCompany</title>
</head>
<body>
    <header>
        <div class="info">
            <div class="contact">
                <p class="location"><img class="loc" src="img/location.png" alt=""><span>333</span>Road Broken Street,88 New York</p>
                <p class="phone"><img class="pho" src="img/phone.png" alt="">1-<span>7</span>8<span>5</span>-<span>45</span>2-<span>45</span>21</p>
                <p class="time"><img class="tim" src="img/Time.png" alt="">Mon - Sat 8.00am - 6.00pm</p>
            </div>
            <div class="social">
                <a class="iactive" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <nav>
            <div class="containertop">
                <div class="forlogo"><a class="logo" href=""><img src="img/Logo.png" alt=""></a></div>
                <div class="fortopnav">
                    <ul class="topnav">
                        <li><a href="">Home</a></li>
                        <li><a href=""> About Us</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Projects</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="forrequest">
                    <a class="request" href="">Request a Quote</a>
                </div>
            </div>
        </nav>
        <div class="slidercontainer">
            <div class="slide1 fade">
                <div class="central">
                    <p class="p1">We clean a Whole lot more! 1</p>
                    <h1 class="h1">Cleaning Yours House</h1>
                    <h1 class="h11">Make World & Clean Mine</h1>
                </div>

                <img src="img/Slide1.jpg" alt="">
                <a class="opacity"></a>
            </div>
            <div class="slide2 fade">
                <div class="central">
                    <p class="p1">We clean a Whole lot more! 2</p>
                    <h1 class="h1">Cleaning Yours House</h1>
                    <h1 class="h11">Make World & Clean Mine</h1>
                </div>
                <img src="img/slide2.jpg" alt="">
                <a class="opacity"></a>
            </div>
            <div class="slide3 fade">
                <div class="central"><p class="p1">We clean a Whole lot more! 3</p>
                    <h1 class="h1">Cleaning Yours House</h1>
                    <h1 class="h11">Make World & Clean Mine</h1>
                </div>
                <img src="img/slide3.jpg" alt="">
                <a class="opacity"></a>
            </div>
            <a class="prev" onclick="plusSlides(-1)"></a>
            <a class="next" onclick="plusSlides(1)"></a>
            <div class="central">
            <a class="today" href="#">Book Today</a>
            <div class="fordot" style="text-align: center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            </div>
        </div>
    </header>
    <main>
        <div class="aboutus">
            <div class="imgwindow">
                <img src="img/shutterstock-1126555652.jpg" alt="">
            </div>
            <div class="abouttext">
                <p class="p2">The best House cleaning Company</p>
                <p class="p3">About Our Moura's Company</p>
                <p class="p4">We Specialize in window cleaning,window tinting
                    pressure washing gutter cleaning and more. We are
                    dedicated to improving the look and value of homes
                    and samll business in their communites.</p>
            </div>
            <div class="aboutphone">
                <div class="aboutphone2">
                <div class="phoneimg">
                    <img src="img/phone2.png" alt="">
                </div>
                <div class="call">
                    <p class="p5">Call Us Today</p>
                    <p class="p6">1-785-452-4521</p>
                </div>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="services2">
            <p class="p7">What we are offering</p>
            <p class="p8">Our Services</p>
            </div>
            <div class="sliderServices">
                <div class="sliderServices2">
                    <div class="lineslides" id="lineslides">
                            <div class="slide12">
                                <div class="imgService1">
                                    <img src="img/services1.jpg" alt="">
                                </div>
                                <div class="vector1">
                                    <img src="img/vector1.png" alt="">
                                </div>
                                <div class="slide122">
                                    <p class="p81">House Cleaning</p>
                                    <p class="p82">A wonderful serenity has taken of my
                                        entire soul, like these sweet spring his
                                        which enjoy with my whole heart,like a
                                        these sweet spring. </p>
                                </div>
                            </div>
                            <div class="slide22 active22">
                                <div class="imgService2">
                                    <img src="img/services2.jpg" alt="">
                                </div>
                                <div class="vector2">
                                    <img src="img/vector2.png" alt="">
                                </div>
                                <div class="slide222">
                                    <p class="p81">Window Cleaning</p>
                                    <p class="p82">A wonderful serenity has taken of my
                                        entire soul, like these sweet spring his
                                        which enjoy with my whole heart,like a
                                        these sweet spring. </p>
                                </div>
                            </div>
                            <div class="slide32">
                                <div class="imgService3">
                                    <img src="img/services3.jpg" alt="">
                                </div>
                                <div class="vector3">
                                    <img src="img/vector3.png" alt="">
                                </div>
                                <div class="slide322">
                                    <p class="p81">Garden Cleaning</p>
                                    <p class="p82">A wonderful serenity has taken of my
                                        entire soul, like these sweet spring his
                                        which enjoy with my whole heart,like a
                                        these sweet spring. </p>
                                </div>
                            </div>
                    </div>
                    <a id="slider2left" class="slider2left"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    <a id="slider2right" class="slider2right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container2">
                <div class="sections1">
                    <div class="sec1">
                        <img src="img/free.png" alt="">
                    </div>
                    <p>100%</p>
                    <p>Free Estimates</p>
                </div>
                <div class="sections2">
                    <div class="sec2">
                        <img src="img/insured.png" alt="">
                    </div>
                    <p>Insured</p>
                    <p>& Boudede</p>
                </div>
                <div class="sections3">
                    <div class="sec3">
                        <img src="img/quality.png" alt="">
                    </div>
                    <p>Quality</p>
                    <p>Standards</p>
                </div>
                <div class="sections4">
                    <div class="sec4">
                        <img src="img/5years.png" alt="">
                    </div>
                    <p>5 Years</p>
                    <p>Exprience</p>
                </div>
            </div>
        </div>
        <div class="why">
            <div class="imgwomen">
                <img src="img/women.jpg" alt="">
            </div>
            <div class="whyblock">
                <p class="p9">Why Choose Us</p>
                <p class="p10">We are best House Cleaning Services Company</p>
                <p class="p11 p111"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    Every Employe wears a photo ID badge.</p>
                <p class="p11"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    Mobile are custom Wrapped for easy identification.</p>
                <p class="p11"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    We are a fully insured nationally ranked brand.</p>
                <p class="p11"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    All work is backed by our exclusive "Streak-Free Guarantee".</p>
                <p class="p11"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    We offer multiple services to manitain your home.</p>
                <p class="p11"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    Our services anr more affordable than you think.</p>

            </div>
            <div class="certi">
                <p class="certifield" href="">We Are Also <br> Certified Company</p>
            </div>
        </div>
        <div class="our">
            <p class="p12">Our Projects</p>
            <p class="p13">Our company is latest at cleaning servicing company We can clean <br>
                your space including home.</p>
            <div class="ourlinks">
                                    <a class="active33" href="">All Project</a>
                                    <a href="">House</a>
                                    <a href="">Office</a>
                                    <a href="">Garden</a>
                                    <a href="">Apartment</a>
            </div>

            <div class="ourslider">
                <input type="radio" name="tabs3" id="tab3-nav-1" checked><label for="tab3-nav-1">All Project</label>
                <input type="radio" name="tabs3" id="tab3-nav-2"><label for="tab3-nav-2">House</label>
                <input type="radio" name="tabs3" id="tab3-nav-3"><label for="tab3-nav-3">Office</label>
                <input type="radio" name="tabs3" id="tab3-nav-4"><label for="tab3-nav-4">Garden</label>
                <input type="radio" name="tabs3" id="tab3-nav-5"><label for="tab3-nav-5">Apartment</label>

                <div class="ourline">
                        <div class="ourblock">
                            <div class="ourimg1">
                                <img src="img/our1.jpg" alt="">
                            </div>
                            <div class="ourimg2">
                                <img src="img/our2.jpg" alt="">
                            </div>
                            <div class="ourimg3">
                                <img src="img/our3.jpg" alt="">
                            </div>
                            <div class="ourimg4">
                                <img src="img/our4.jpg" alt="">
                            </div>
                            <div class="ourimg5">
                                <img src="img/our5.jpg" alt="">
                            </div>
                            <div class="ourimg6">
                                <img src="img/our6.jpg" alt="">
                            </div>
                        </div>
                        <div class="ourblock">
                            <div class="ourimg2">
                                <img src="img/our2.jpg" alt="">
                            </div>
                            <div class="ourimg3">
                                <img src="img/our3.jpg" alt="">
                            </div>
                            <div class="ourimg4">
                                <img src="img/our4.jpg" alt="">
                            </div>
                            <div class="ourimg5">
                                <img src="img/our5.jpg" alt="">
                            </div>
                            <div class="ourimg6">
                                <img src="img/our6.jpg" alt="">
                            </div>
                            <div class="ourimg1">
                                <img src="img/our1.jpg" alt="">
                            </div>
                        </div>
                        <div class="ourblock">
                            <div class="ourimg4">
                                <img src="img/our4.jpg" alt="">
                            </div>
                            <div class="ourimg5">
                                <img src="img/our5.jpg" alt="">
                            </div>
                            <div class="ourimg6">
                                <img src="img/our6.jpg" alt="">
                            </div>
                            <div class="ourimg1">
                                <img src="img/our1.jpg" alt="">
                            </div>
                            <div class="ourimg2">
                                <img src="img/our2.jpg" alt="">
                            </div>
                            <div class="ourimg3">
                                <img src="img/our3.jpg" alt="">
                            </div>
                        </div>
                        <div class="ourblock">
                            <div class="ourimg5">
                                <img src="img/our5.jpg" alt="">
                            </div>
                            <div class="ourimg6">
                                <img src="img/our6.jpg" alt="">
                            </div>
                            <div class="ourimg1">
                                <img src="img/our1.jpg" alt="">
                            </div>
                            <div class="ourimg2">
                                <img src="img/our2.jpg" alt="">
                            </div>
                            <div class="ourimg3">
                                <img src="img/our3.jpg" alt="">
                            </div>
                            <div class="ourimg4">
                                <img src="img/our4.jpg" alt="">
                            </div>
                        </div>
                        <div class="ourblock">
                            <div class="ourimg6">
                                <img src="img/our6.jpg" alt="">
                            </div>
                            <div class="ourimg1">
                                <img src="img/our1.jpg" alt="">
                            </div>
                            <div class="ourimg2">
                                <img src="img/our2.jpg" alt="">
                            </div>
                            <div class="ourimg3">
                                <img src="img/our3.jpg" alt="">
                            </div>
                            <div class="ourimg4">
                                <img src="img/our4.jpg" alt="">
                            </div>
                            <div class="ourimg5">
                                <img src="img/our5.jpg" alt="">
                            </div>
                        </div>
                </div>

            </div>
        </div>
        <div class="delivering">
            <div class="delivering2">
            <p class="p14">Delivering the Best Service Solution to Our Client</p>
            <a class="book" href="">Book Today</a>
            </div>
            <div class="delivering3">
                <i class="fa fa-quote-right" aria-hidden="true"></i>

                <div class="fordot4" style="text-align: center">
                    <div class="dot4" id="dot1" onclick="plusSlides4(1)">
                        <div class="dot44"></div>
                    </div>
                    <div class="dot4" id="dot2"></div>
                    <div class="dot4" id="dot3" onclick="plusSlides4(-1)">
                        <div class="dot66"></div>
                    </div>
                </div>
                <div class="slidercontainer4">
                    <div class="slide14 fade2">
                        <p class="slide14p1">This is due to their exelent service, company
                                pricing and customer support.it,s throughty
                                refresing to get such a personal touch.</p>
                        <p class="slide14p2">Zahir Hasan</p>
                        <p class="date">03 / 07</p>
                    </div>
                    <div class="slide24 fade2">
                        <p class="slide24p1">My best cleaning company, they are best of the best.</p>
                        <p class="slide24p2">Larisa Ivanovna</p>
                        <p class="date2">06 / 01</p>
                    </div>
                    <div class="slide34 fade2">
                        <p class="slide34p1">Throughty
                            refresing to get such a personal touch.</p>
                        <p class="slide34p2">Muslim Magomaev</p>
                        <p class="date3">13 / 08</p>
                    </div>
                </div>
                <div class="prev3" onclick="plusSlides4(1)">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
                <div class="next3" onclick="plusSlides4(-1)">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="blog">
            <div class="blog1">
                <p class="p15">Latest Blog Posts</p>
                <p class="p16">Our company is latest at cleaning servicing company We can clean <br>
                    your space including home.</p>
            </div>
            <div class="mainblog">
                <div class="shore">
                    <div class="minigirl">
                        <img src="img/minigirl.jpg" alt="">
                        <p>April 15, 2019</p>
                    </div>
                    <p class="p17">The Shore of this Uncharted</p>
                    <div class="admin">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <p class="p18">Admin</p>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        <p class="p18">25</p>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <p class="p18">15</p>
                    </div>
                    <p class="p19">A wonderful serenity has taken possession of my entire soul, like these sweet
                        which I enjoy with my whole heart. I am alone, and feel.taken possession of
                        my entire soul, like these sweet.</p>
                    <a class="more" href="">READ MORE</a>
                </div>
            </div>
            <div class="notmainblog">
                <div class="drum">
                    <div class="arms">
                        <img src="img/arms.jpg" alt="">
                        <p>June 15, 2019</p>
                    </div>
                    <div class="notmain">
                        <p class="p17">The Beat just  Drum</p>
                        <div class="admin">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <p class="p18">Admin</p>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        <p class="p18">25</p>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <p class="p18">15</p>
                        </div>
                        <p class="p19">A wonderful serenity has brokend which I enjoy with my whole my ti
                            entire soul, like these sweet. We a Working Clealy and fress.</p>
                        <a class="more" href="">READ MORE</a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="lady">
                    <div class="earth">
                        <img src="img/earth.jpg" alt="">
                        <p>May 15, 2019</p>
                    </div>
                    <div class="notmain">
                        <p class="p17">The Shore are Lady</p>
                        <div class="admin">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <p class="p18">Admin</p>
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            <p class="p18">25</p>
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <p class="p18">15</p>
                        </div>
                        <p class="p19">A wonderful serenity has brokend
                            which I enjoy with my whole my ti
                            entire soul, like these sweet. We a
                            Working Clealy and fress.</p>
                        <a class="more" href="">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form">
                <div class="imggirl">
                    <img src="img/girl.jpg" alt="">
                </div>
                <div class="formtext">
                    <p class="p20">Book Service Today</p>
                    <p class="p21">Get a Free Quote</p>

                    <form action="">
                        <input class="input1" type="text" name="name" placeholder="Your Name">
                        <input class="input2" type="email" name="email" placeholder="Email Address">
                        <input class="input3" type="text" name="phone" placeholder="Phone Number">
                        <input class="submit" type="submit" name="" value="Submite Now">
                    </form>

                </div>
                <div class="aboutphone">
                    <div class="aboutphone2">
                        <div class="phoneimg">
                            <img src="img/phone2.png" alt="">
                        </div>
                        <div class="call">
                            <p class="p5">Call Us Today</p>
                            <p class="p6">1-785-452-4521</p>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <footer>
        <div class="topfooter">
            <div class="topfooter2">
                <div class="left">
                    <div class="foo1">
                        <p class="location2">333 Road Broken Street,88 New York</p>
                    </div>
                </div>
                <div class="mid">
                    <div class="foo2">
                        <p class="phone2">1-785-452-4521</p>
                    </div>
                </div>
                <div class="right">
                    <div class="foo3">
                        <p class="time2">Mon - Sat 8.00am - 6.00pm</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer2">
            <div class="footer22">
                <div class="moura">
                    <div class="moura2">
                        <p class="p22">About Moura's</p>
                        <p class="p23">A wonderful serenity has taken of entire
                            soul, like these sweet spring his which his
                            enjoy with my whole heart,like a these
                            sweet spring. Bettar </p>
                        <div class="social2">
                            <a class="active22" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a class="facebook" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="youtube" href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            <a class="google" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="quick">
                    <p class="p22">Quick Links</p>
                    <div class="linksblock">
                        <ul class="links1">
                            <li><a href="">Service</a></li>
                            <li><a href="">Request</a></li>
                            <li><a href="">Gallary</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                        <ul class="links2">
                            <li><a href="">Careers</a></li>
                            <li><a href="">Private Policy</a></li>
                            <li><a href="">Locatiom</a></li>
                            <li><a href="">Exparts Tips</a></li>
                            <li><a href="">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="news">
                    <div class="news2">
                        <p class="p22">Newsletter</p>
                        <p class="p23">If you want receive our all weekly update
                            about new offers discount alltime and we
                            Sign bleow Here.</p>
                    </div>
                    <form class="form2" action="">
                        <input class="email2" type="email" name="email" placeholder="Enter Your Email">
                        <a class="submit2" href=""><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                    </form>
                </div>
            </div>
            <div class="footer23">
                <div class="forlogo2"><a class="logo2" href=""></a></div>
                <p class="copyright">©2019 House Cleaning Service All right reserved.Designed by Zahid Hasan</p>
            </div>
        </div>

        <div class="btnupdiv" href="#" onscroll="scroll_foo()"><i id="up" class="fa fa-chevron-up" aria-hidden="true"></i></div>
    </footer>


    <svg class="iconFacebook">
        <use xlink:href="sprite.svg#facebook"></use>
    </svg>

    <svg class="iconTwitter">
        <use xlink:href="sprite.svg#twitter"></use>
    </svg>

    <div class="alien-svg-sposob"></div>

    <img class="alien-html-sposob" src="img/alien@2x.png" alt="" width="150px" height="150px">

    <div class="alien-css-sposob"></div>

    <img class="alien-js-jq-sposob" src="img/alien@2x.png" alt="">

    <div class="alien-css2-sposob"></div>

    <img class="alien-js-sposob" src="img/alien.png" alt="">
    <p class="retina">На основе этого метода создан плагин Retina.js,
        который умеет делать все то же самое, но с дополнительными возможностями,
        такими как пропуск внешних изображений и пропуск внутренних, не имеющих retina-копий.</p>

    <picture>
        <source srcset="img/shutterstock-1126555652.webp 1x" media="(max-width: 600px)">
        <source srcset="img/shutterstock-1126555652.jpg 1x" media="(max-width: 600px)">
        <source type="image/webp" srcset="img/alien.webp 1x, img/alien@2x.webp 2x, img/alien@3x.webp 3x">
        <img src="img/alien.png" srcset="img/alien@2x.png 2x, img/alien@3x.png 3x" alt="">
    </picture>

    <div class="tabs">
        <div class="tab1">
            <input type="checkbox" name="" id="check">
            <label class="label1" for="check">My checkbox</label>
            <div class="wow"></div>
        </div>
        <div class="wow2">
            <div class="tabbed">
                <input type="radio" name="tabs" id="tab-nav-1" checked><label for="tab-nav-1">HTML</label>
                <input type="radio" name="tabs" id="tab-nav-2"><label for="tab-nav-2">CSS</label>
                <input type="radio" name="tabs" id="tab-nav-3"><label for="tab-nav-3">JavaScript</label>
                <input type="radio" name="tabs" id="tab-nav-4"><label for="tab-nav-4">Output</label>
                <div class="tabs2">
                    <div><h3>HTML</h3>Мы смотрим вперед и активно развиваемся,
                        поэтому всегда можем предложить много разной и интересной работы.
                        Ищем в команду сотрудника, который будет любить дело,
                        как и мы, и не оставаться безразличным к результату работы.
                    </div>
                    <div><h3>CSS</h3>Курсы подготовки к ЕГЭ и ОГЭ «Годограф» — это динамично развивающаяся компания,
                        с каждым годом увеличивающая число своих клиентов и сотрудников.
                        И сейчас нам требуется «свежая кровь» в виде специалиста по работе с клиентами.
                        Если ты можешь найти подход к кому угодно, относишься к людям с уважением,
                        а к работе с усердием и ответственностью, адекватно реагируешь на нестандартные
                        ситуации и блещешь самоорганизацией, то добро пожаловать.
                    </div>
                    <div><h3>JavaScript</h3>«Годограф» — федеральная сеть учебных центров с филиалами
                        более чем в 70 городах России, которая помогает старшеклассникам сдавать экзамены
                        ОГЭ и ЕГЭ на высокие баллы и поступать в ведущие вузы. Мы стремимся развиваться,
                        а с Вашей помощью мы сможем сделать это еще быстрее.
                    </div>
                    <div><h3>Output</h3>Если наша вакансия Вас заинтересовала, мы готовы рассмотреть Ваше резюме.
                        Надеемся, что Вы действительно ознакомились с текстом вакансии, и, если это так,
                        просим Вас написать в сопроводительном письме фразу:
                        «Я хочу работать в Годографе! от VDHL.»
                    </div>
                </div>
            </div>
        </div>
        <div id="app">
            <input type="text" v-on:input="changeName">
        <h5>Hello {{ name }}</h5>
            <h5>If statement: {{ isOk ? 'I am OK' : 'I am not OK' }}</h5>
            <h5><a v-bind:href="url">Goggle</a></h5>
            <h5 v-html="link"></h5>
            <h5>Счетчик = {{ counter }}</h5>
            <button v-on:click="riseCounter">Увеличить</button>
            <h5 v-on:mouseover="onHover">Счетчик2 = {{ counter2 }}</h5>
            <button v-on:click="counter2++">Увеличить2</button>

            <h5>{{ title }} = {{ counter3 }}</h5>
            <button v-on:click="riseCounter3(5,'Изменено на 5', $event)">Увеличить на 5</button>
            <button v-on:click="riseCounter3(10,'Изменено на 10', $event)">Увеличить на 10</button>

            <h5>
                <a href="http://ya.ru" target="_blank" v-on:click.prevent="">YANDEX</a>
            </h5>
            <h5 v-on:mousemove="mouse">
                X: {{ x }} / Y: {{ y }}
                <span v-on:mousemove.stop="">НЕ МЕНЯТЬ</span>
            </h5>

            <input type="text" v-on:keyup.enter.space="alertValue">
            <h5>{{string.split('').reverse('').join('')}}</h5>

            <input type="text" v-model.lazy="inputValue">
            <h5>{{inputValue}}</h5>
            <div class="circle" :class="getCSSClasses"></div>
            <div class="circle" @click="isActive = !isActive" :class="{'red':isActive, 'green':!isActive}"></div>
            <div class="circle" :class="[color,{'blue':isActive}]"></div>
            <input type="text" v-model="color">

            <a :href="url" @click = "reed">Google2</a>

            <div class="circle" :style="circleClasses"></div>
            <div class="circle" :style="[circleClasses, {'width': height + 'px'}]"></div>

            <input type="text" v-model="color2">
            <input type="text" v-model="height">

            <h5 v-if="isVisible">Lorem ipsus</h5>
            <h5 v-else>Ipsus Lorem 2</h5>
            <hr>
            <button @click="isVisible = !isVisible"></button>

            <h5 v-if="type === 'a'">A</h5>
            <h5 v-else-if="type === 'b'">B</h5>
            <h5 v-else-if="type === 'c'">C</h5>
            <h5 v-else>not match</h5>
            <hr>
            <input type="text" v-model="type">

            <template v-if="isVisible">
                <h5>I am title</h5>
                <p>I am Lorem lorem</p>
            </template>
            <template v-else>
                <h5>am @</h5>
                <p>am 1222</p>
            </template>

            <hr>

            <ul>
                <li v-for="person in people">{{person}}</li>
            </ul>

            <hr>

            <ul>
                <li v-for="(person, index) of people2">{{index+1}} ) {{person.name}} - {{person.age}}</li>
            </ul>

            <hr>

            <ul>
                <li v-for="(person,key,index) in people3"><em>{{index+1}}</em> - <b>{{key}}</b> - {{person}}</li>
            </ul>

            <hr>
            <h5>Counter {{cou}} / {{cou2}}</h5>
            <h5>{{compResult}}</h5>
            <h5></h5>

            <button @click="add">Add</button>
            <button @click="sub">Sub</button>
            <button @click="add2">Add2</button>


        </div>
        
        <nav class="nav4">
            <div class="wrapper">
                <label class="menuToggle" for="menuCheck">Меню</label>
                <input type="checkbox" id="menuCheck">
                <ul class="menu clearfix">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Продукты</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </nav>
        <section>
            <div class="wrapper">
                <p>Другой контент</p>
            </div>
        </section>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/script2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="js/modernizr-custom.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue ({
            el: '#app',
            data: {
                name:'Vue!!!!',
                isOk: false,
                string: 'My name is Vlad',
                url: 'http://google.com',
                link: '<a href="http://ya.ru">Yandex</a>',
                counter: 0,
                counter2: 0,
                counter3: 0,
                title: 'Счётчик',
                x: 0,
                y: 0,
                inputValue: 'Initial value',
                color: 'green',
                isActive: false,
                color2: 'yellow',
                height: 100,
                isVisible: true,
                type: 'a',
                people: [
                    'Vlad',
                    'Max',
                    'Elena'
                ],
                people2: [
                    {name:'Vlad',age:20},
                    {name:'Max',age:25},
                    {name:'Elena',age:30}
                    ],
                people3:{
                    name:'max',
                    age:50,
                    job:'Frontend'
                },
                cou: 0,
                cou2: 0
            },
            computed:{
              getCSSClasses: function () {
                  return {
                      'red': this.isActive,
                      'blue':!this.isActive
                  }
              },
                circleClasses: function () {
                    return {
                        'background': this.color2,
                        'height': this.height + 'px'
                    }
                },
                compResult: function () {
                    return this.cou > 3 ? 'More that 3' : 'Less than 3'
                }
            },
            methods:{
                changeName: function (event) {
                    this.name = event.target.value
                },
                riseCounter: function () {
                    this.counter++
                },
                onHover: function (event) {
                    event.target.style.color='red'
                },
                riseCounter3: function (num, str, event) {
                    this.counter3 += num
                    this.title = str

                    if (num === 5){
                        event.target.style.color='blue'
                    } else if(num === 10) {
                        event.target.style.color='red'
                    }
                },
                mouse: function (event) {
                    this.x = event.clientX
                    this.y = event.clientY
                },
                alertValue: function (event) {
                    alert(event.target.value)
                },
                reed: function (event) {
                    event.target.style.color='red'
                },
                add: function () {
                    this.cou++
                },
                sub: function () {
                    this.cou--
                },
                add2: function () {
                    this.cou2++
                }
            },
            watch:{
                cou2: function (val) {
                    alert(val)
                }
            }
        });
    </script>

</body>
</html>
